:root {
  --header-bg-color: #e24647;
  --header-font-color: #fff;
  --header-brand-font-family: "Roboto", sans-serif;
  --header-nav-font-family: "Open Sans", sans-serif;
  --header-nav-link-font-color: #dabbbb;
}